{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}
    <div class="container">
        <h1>pokemon</h1>
        {{ component('pokemon:list', {limit: 20}) }}
    </div>

{% endblock %}
