{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}
    <div class="container">
        <h1>Pokémon</h1>

        <h3>Random Pokemon</h3>
        <div class="row">
            {{ component('pokemon:random') }}
            {{ component('pokemon:random') }}
            {{ component('pokemon:random') }}
            {{ component('pokemon:random') }}
        </div>
    </div>
{% endblock %}
