{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}
    <div class="container">
        <h1>Pokémon</h1>

        <h3>Search Pokemon</h3>
        {{ component('pokemon:search', {search: keyword}) }}
    </div>
{% endblock %}
